<div class="row">
    <div class="large-12 columns">
        <h1>Welcome to PixBot</h1>
    </div>
</div>

    <div class="large-12 columns">
        <div class="panel">
            <h3>Bot controll panel</h3>

        </div>
        <div class="row">
            <div class="large-8 medium-8 columns">
                <h5>Basic:</h5>
                <!-- Grid Example -->
                <div class="row">
                    <div class="large-12 columns">
                        <div class="callout panel">
                            <a href="@Url.Action("StartBot")" class="medium success button">Start Bot</a><br />
                            <a href="@Url.Action("StopBot")" class="medium alert button">Stop Bot</a><br/>
                            <a href="@Url.Action("ChangeRoom")" class="medium success button">Join general room</a><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>